/* flex 补全 */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* rimixicon 适配 */
.cu-list.grid > .cu-item [class^='ri-'],
.cu-list.grid > .cu-item [class*=' ri-'] {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 20rpx;
  font-size: 48rpx;
}

.cu-list.menu > .cu-item .content > text[class^='ri-'],
.cu-list.menu > .cu-item .content > text[class*=' ri-'] {
  display: inline-block;
  width: 1.6em;
  margin-right: 10rpx;
  text-align: center;
}

.cu-form-group slider {
  position: relative;
  padding-right: 40rpx;
  flex: 1;
  line-height: 100rpx;
}

.cu-form-group .button {
  position: relative;
  padding-right: 40rpx;
  flex: 1;
}

.cu-form-group .button {
  overflow: hidden;
  font-size: 28rpx;
  line-height: 100rpx;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cu-form-group .button::after {
  position: absolute;
  top: 0;
  right: -20rpx;
  bottom: 0;
  display: block;
  width: 60rpx;
  margin: auto;
  font-family: cuIcon;
  font-size: 34rpx;
  line-height: 100rpx;
  color: var(--grey);
  text-align: center;
  content: '\e6a3';
}
